<%- include ../header %>
<section class="publish">
    <form id="form_publish" class="expo-form" autocomplete="off">
        <input type="text" id="title" name="title" placeholder="简明扼要哒标题" />
        <textarea id="content" name="content" placeholder="美源于生活点滴~"></textarea>
    </form>
    <button class="js_publish expo-btn">发布</button>
    <a href="javascript:;" class="js_back">返回</a>
</section>
<script src="/script/publish.js"></script>
<%- include ../footer %>