<%- include ../header %>
<section class="register expo-bg">
    <div class="expo-card">
        <form id="form_register" class="expo-form" autocomplete="off">
            <input type="text" id="username" name="username" placeholder="*用户名" />
            <input type="password" id="password" name="password" placeholder="*密码" />
            <input type="text" id="sex" name="sex" placeholder="*性别" />
            <input type="text" id="tel" name="tel" placeholder="*电话" />
            <input type="text" id="qq" name="qq" placeholder="*QQ" />
            <textarea id="intro" name="intro" placeholder="描述一下自己~"></textarea>
        </form>
        <button class="js_register expo-btn">register</button>
        <a href="javascript:;" class="js_back">返回</a>
    </div>
    <p class="expo-tips">本站纯属作者业余练习 密码不提供加密且不支持修改找回 请注意个人信息安全</p>
</section>
<script src="/script/register.js"></script>
<%- include ../footer %>